<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= employee.name + ' ' + employee.lastname %></h2>
    <p class="department">Department: <%= employee.departmentid == 0 ? 'Development' : employee.departmentid == 1 ? 'Management' : 'HR' %></p>
  </div>

</body>
</html>